<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Lilo</title>

        {% stylesheets
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
            '@LiloAppBundle/Resources/assets/less/base.less'
            output='css/base.css'
            filter='yui_css'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
            '%kernel.root_dir%/../components/jquery/jquery.min.js'
            output='js/jquery.js'
            filter='yui_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!--[if lt IE 9]>
            {% javascripts
                '@LiloAppBundle/Resources/assets/js/html5shiv.js'
                output='js/html5shiv.js'
                filter='yui_js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        <![endif]-->
    </head>

    <body>
        <div class="sidebar">
            <h3 class="header"><a href="/">Lilo</a></h3>

            <ul class="nav">
                {% for instance in instances %}
                    <li><a href="{{ path('_index_index_instance', {'id': instance.getId()}) }}">{{ instance.getName() }}</a></li>
                {% endfor %}
            </ul>

            {% if is_granted('ROLE_ADMIN') %}
                <ul class="nav nav-bottom">
                    <li class="nav-header">Admin</li>

                    <li {% if '_admin_instance' in app.request.attributes.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path('_admin_instance_add') }}">Instances</a>
                        <ul class="nav">
                            <li {% if app.request.attributes.get('_route') == '_admin_instance_add' %}class="active"{% endif %}>
                                <a href="{{ path('_admin_instance_add') }}">Add</a>
                            </li>
                            <li
                            {%
                            if app.request.attributes.get('_route') == '_admin_instance_manage'
                                or app.request.attributes.get('_route') == '_admin_instance_edit'
                                or app.request.attributes.get('_route') == '_admin_instance_delete'
                            %}
                                class="active"
                            {% endif %}>
                                <a href="{{ path('_admin_instance_manage') }}">Manage</a>
                            </li>
                        </ul>
                    </li>
                    <li {% if '_admin_user' in app.request.attributes.get('_route') %}class="active"{% endif %}>
                        <a href="{{ path('_admin_user_add') }}">Users</a>
                        <ul class="nav">
                            <li {% if app.request.attributes.get('_route') == '_admin_user_add' %}class="active"{% endif %}>
                                <a href="{{ path('_admin_user_add') }}">Add</a>
                            </li>
                            <li
                            {%
                            if app.request.attributes.get('_route') == '_admin_user_manage'
                                or app.request.attributes.get('_route') == '_admin_user_edit'
                                or app.request.attributes.get('_route') == '_admin_user_delete'
                            %}
                                class="active"
                            {% endif %}>
                                <a href="{{ path('_admin_user_manage') }}">Manage</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="container">
                <p>Logged in as {{ app.security.getToken().getUser().getFullName() }} | <a href="{{ path('_auth_logout') }}">Logout</a></p>
                <p>Code by <a href="http://litus.cc">Litus</a></p>
            </div>
        </footer>

        {% javascripts
            '%kernel.root_dir%/../vendor/twitter/bootstrap/js/*'
            output='js/bootstrap.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascript %}{% endblock %}
    </body>
</html>
