{% extends '@LiloApp/base.html.twig' %}

{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>Users</h1>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Code</th>
                        <th width="105px"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getFullName() }}</td>
                            <td>{{ user.getEmail() }}</td>
                            <td>{{ user.getCode() }}</td>
                            <td>
                                <a class="btn btn-mini" href="{{ path('_admin_user_edit', {'username': user.getUsername()}) }}">Edit</a>
                                <a class="btn btn-mini btn-danger" href="{{ path('_admin_user_delete', {'username': user.getUsername()}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
