<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LiLo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% stylesheets
            '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
            '@LiloAppBundle/Resources/assets/less/login.less'
            output='css/login.css'
            filter='yui_css'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
            '%kernel.root_dir%/../vendor/components/jquery/jquery.min.js'
            output='js/jquery.js'
            filter='yui_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!--[if lt IE 9]>
            {% javascripts
                '@LiloAppBundle/Resources/assets/js/html5shiv.js'
                output='js/html5shiv.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <form action="{{ path('_authenticate') }}" method="post" class="form-signin">
                <h2 class="form-signin-heading">LiLo</h2>

                <input type="text" id="username" name="_username" placeholder="Username" value="{{ lastUsername }}" />
                <input type="password" id="password" name="_password" placeholder="Password" />

                <button class="btn btn-large btn-primary" type="submit">Login</button>
            </form>
        </div>

        {% javascripts
            '%kernel.root_dir%/../vendor/twitter/bootstrap/js/*'
            output='js/bootstrap.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
