{% extends '@LiloApp/base.html.twig' %}

{% block content %}
    <div class="section">
        <div class="section-header">
            <h1>Instances</h1>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="actions"></th>
                        <th width="225px">Name</th>
                        <th>Key</th>
                        <th>Users</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in instances %}
                        <tr>
                            <td class="actions">
                                <a class="batch edit" href="{{ path('_admin_instance_edit', {'id': instance.getId()}) }}" data-icon="&#xF139;"></a>
                                <a class="batch delete" href="{{ path('_admin_instance_delete', {'id': instance.getId()}) }}" data-icon="&#xF056;"></a>
                            </td>
                            <td>{{ instance.getName() }}</td>
                            <td>{{ instance.getKey() }}</td>
                            <td>{{ instance.getUsers().count() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
